@use 'bedrock-config' as *;

.c-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: spacing(1);
  @include typeset(b2);

  .container {
    display: flex;
    align-items: center;
    gap: spacing(2);
    padding: 0 spacing(4);
    height: spacing(9);
  }

  @include attr(size, large) {
    .container { height: spacing(12); }
  }

  @include attr(type, ghost) {
    background-color: transparent;
    border-color: color(primary);
    color: color(primary);
  }

  @include attr(disabled) {
    pointer-events: none;
    opacity: 0.5;
  }

  @include hover {
    opacity: 0.85;
  }
}
