@use 'bedrock-config' as *;

@include grid-layout('blog') {
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: auto 1fr;
  min-height: 100vh;
  grid-template-columns: minmax(0, 1fr);

  @include grid-area('header') {
    position: sticky;
    top: 0;
    z-index: z-layer(header);
  }

  @include grid-area('main') {
    display: flex;
    flex-direction: column;
    
    & > footer {
      margin-top: auto;
    }
  }
}
