@use 'bedrock-config' as *;

:root {
  --m-header-logo-nav-height: #{spacing(20)};
  --m-header-logo-nav-height-min: #{spacing(14)};
  --m-header-logo-nav-shrink-start: 0px;
  --m-header-logo-nav-shrink-distance: 200px;
}

.m-header-logo-nav {
  --scroll-shrink-max: var(--m-header-logo-nav-height);
  --scroll-shrink-min: var(--m-header-logo-nav-height-min);
  --scroll-shrink-start: var(--m-header-logo-nav-shrink-start);
  --scroll-shrink-distance: var(--m-header-logo-nav-shrink-distance);

  display: flex;
  height: var(--m-header-logo-nav-height);
  position: relative;

  @include grid-layout('header') {
    height: 100%;
    grid-template-areas: "logo nav";
    grid-template-columns: auto 1fr;
    align-items: center;

    @include grid-area('logo') {
      justify-self: start;
      align-self: stretch;
      min-height: 0;
      display: flex;
    }

    @include grid-area('nav') {
      justify-self: end;
      align-self: center;
    }
  }

  @include attr(background, dark) {
    background-color: color(surface, dark);
    color: color(text, light);
  }
}
